*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:Arial;
    margin:0;
    padding:20px;
    background:#fff}
    .profile{
        text-align:center;
        margin-bottom:20px
    }
    .profile img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills,.projects,form{
        margin-bottom:20px;
       
    }
    
    .bar{
        background:#ddd;
        height:15px;
        border-radius:10px;
        width: 50%;
        
    }
      @keyframes remplir {
           0%{
            width: 0;
            }
            70%{
               width: 70%; 
            } }
       
        
    .progress{
        background:#1867dd;
        height:100%;
        border-radius:10px;
        animation: remplir 3s ease-in-out;
    }
    .projects{
        display: flex;
        justify-content: start;
        align-items: center;
        gap:50px;
        flex-wrap:wrap;
       text-align: justify;
        width: auto
    }

    .projects div{
        width: 20%;
        height: 40%;
    }
    .project{
        flex:1;
        padding:10px;
        border:1px solid #ccc;
        transition:.3s;
        margin: auto;
       
    }
    .project img{
        width: 100%;
    }
    h3{
        text-align: center;
    }
    .project:hover
    {
        transform:scale(1.05)
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        border: solid 2px #4CAF50;
        padding: 15px;
    }
    form input,
    form textarea{
        width: 30%;
        padding:10px;
        margin:5px 0;
        border:1px solid #ccc}
    button{
        background:#4CAF50;
        color:#fff;
        padding:10px;
        border:none;
        width: 100px;
    }
       
    footer{
        text-align:center;
        padding:10px;
        background:#333;
        color:#fff
    }
    footer a{
        color:#4CAF50;
        text-decoration:none;
        margin:0 100px}
    
    
    @media(max-width:768px){
        .projects
        {flex-direction:column;
            align-items: center;
        }
        .project div{
            display: flex;
            width: 100%;
        }
        .project img{
        width: 100%;
    }
    }